<% obj.each do |article| %>
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <div class="well well-lg">
        <div class="article-title">
        <!-- To edit or view a specific record you need to pass in the article. -->
          <%= link_to article.title, article_path(article) %>
        </div>
        <div class="article-body">
          <p><%= truncate(article.description, length: 60) %></p>
          <div class="article-meta-details">
            <p>
              <small>Created By: <%= article.user.username if article.user %>,
                    <%= time_ago_in_words(article.created_at) %> ago,
                    Last Updated: <%= time_ago_in_words(article.updated_at) %> ago</small>
            </p>
          </div>
        </div>
        <div class="article-actions">
          <%= link_to "Edit", edit_article_path(article), class: "btn btn-xs btn-primary" %>
          <%= link_to "Delete", article_path(article), method: :delete, data: { confirm: "Are you sure you want to delete article" }, class: "btn btn-xs btn-danger" %>
        </div>
      </div>
    </div>
  </div>
<% end %>