<h1>All Articles</h1>
<p><%= link_to "Create Article", new_article_path %></p>
<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
  </tr>
  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.description %></td>

      <!-- To edit or view a specific record you need to pass in the article. -->
      <td><%= link_to "Edit", edit_article_path(article) %></td>
      <td><%= link_to "View", article_path(article) %></td>
    </tr>
  <% end %>
</table>